body {
   margin: 0;
   background-color: #E5E5E5;
}
:root {
   font-family: 'PT Sans', sans-serif;
}
a {
   text-decoration: none;
   color: white;
}
header {
   position: relative;
   width: 100%;
   background-color: #202846;
   overflow: hidden;
}
.logo {
   padding-top: 0.4%;
   margin-left: 8%;
   float: left;
   cursor: pointer;
}
/* Таблица навигации в ХЕДЕРЕ */
table {
   width: 67%;
   padding-top: 0.4%;
   font-size: 24px;
   font-weight: 700;
   text-transform: uppercase;
   color: white;
   margin-left: 34%;
   text-align: center;
}
td {
   padding-left: 1%;
   border-left: 2px white solid;
   width: 12%;
   cursor: pointer;
}
/* !!!Прпоблема- при уменьшении экрана глобус смещается !!!*/
.globe {
   margin-top: -23%;
   margin-left: -48%;
}
.text_UA {
   margin-left: 70px;
   margin-top: -60px;
   width: 5px;
}
/* ПОД ХЕДЕРОМ */
.under_header {
   background-color: #C6C6DC;
   font-size: 48px;
   font-style: italic;
   font-weight: 400;
   padding-top: 3.5%;
   padding-bottom: 3.5%;
   padding-left: 14%;
}
/* ОСНОВНОЙ КОНТЕЙНЕР (с выборов домов) */
main {
   background-color: #E5E5E5;
}
/* Выбор места отдыха (навигвция) */
#select {
   font-family: 'PT Sans', sans-serif;
   font-size: 28px;
   border: none;
   outline: none;
   background-color: #BDBDC6;
   padding-top: 1%;
   padding-bottom: 1%;
   margin-top: 3%;
   margin-left: 6.7%;
   width: 86%;
   height: 7%;
   text-align: center;
   cursor: pointer;
}
option {
   background-color: #E8E8E8;
}
option:hover {
   background-color: #BDBDC6;
}
/* Коробки с местами отдыха  */
.box {
   width: 86%;
   margin-left: 6.7%;
   background-color: #BDBDC6;
   overflow: hidden;
   margin-top: 2%;
}
/* блок с фото */
.foto {
   padding-top: 2%;
   padding-bottom: 2%;
   margin-left: 4%;
   display: inline-block;
   vertical-align: top;
}
/* блок с общей инфо */
.info {
   display: inline-block;
   width: 37%;
   margin-top: 2%;
   padding-left: 11%;
   
}
h2 {
   font-style: italic;
   color: #353C57;
   font-weight: 700;
   font-size: 32px;
   margin-top: 0%;
}
.description {
   text-align: center;
   background-color: #D7D7DD;
   color: #202846;
   padding: 7%;
}
hr {
   border: none; 
   color: white; 
   background-color: white; 
   height: 2px;
}
/* !!!Проблема- звезда при уменьшении экрана тоже уходит. Не знаю почему  И пришлось задать Минус марджин топ!!!*/
.star {
   display: inline-block;
   margin-left: 95%;
   vertical-align: top;
   margin-top: -25%;
}
.box:hover path {
   fill: yellow;
      
}
/* !!!Кнопка "Детальнее" тоже уезжает (СЬЕЗЖАЮТ ВСЕ КНОПКИ)!!! */
.details1 {
   z-index: 1;
   position: absolute;
   background-color: #202846;
   width: 11%;
   color: white;
   display: inline-block;
   margin-left: -10%;
   margin-top: 26.7%;
   border-radius: 35px;
   text-align: center;
   padding: 1%;
}
.details2 {
   z-index: 1;
   position: absolute;
   background-color: #202846;
   width: 11%;
   color: white;
   display: inline-block;
   margin-left: -10%;
   margin-top: 52%;
   border-radius: 35px;
   text-align: center;
   padding: 1%;
}
.details3 {
   z-index: 1;
   position: absolute;
   background-color: #202846;
   width: 11%;
   color: white;
   display: inline-block;
   margin-left: -10%;
   margin-top: 77.1%;
   border-radius: 35px;
   text-align: center;
   padding: 1%;
}
.details4 {
   z-index: 1;
   position: absolute;
   background-color: #202846;
   width: 11%;
   color: white;
   display: inline-block;
   margin-left: -10%;
   margin-top: 105.1%;
   border-radius: 35px;
   text-align: center;
   padding: 1%;
}
/* ФУТЕР */
.footer {
   font-style: italic;
   background-color: #202846;
   color: white;
   font-size: 36px;
   font-weight: 400;
   padding-top: 1%;
   padding-bottom: 1%;
   padding-left: 3%;
   margin-top: 3%;
}

