body {
   background-color: grey;
}
.left_right {
   width: 1100px;
   height: 580px;
   box-sizing: border-box;
   margin-left: 2%;
      
}
.box {
   width: 512px;
   height: 512px;
   box-sizing: border-box;
   display: inline-block;
   
}

.box_2 {
   position: absolute;
   background-color: white;
   box-sizing: border-box;
   border-top: 1px solid transparent;
   margin-top: 0px;
   margin-left: 67px;
      
}

.blu {
   width: 100%;
   height: 50%;
   background-color: blue;
}
.blu_2 {
   border-radius: 313px 313px 0px 0px;
   width: 444px;
   height: 233px;
   margin: 23px auto;
     
}
.yelow {
   width: 100%;
   height: 50%;
   background-color: yellow;
}
.yelow_2 {
   border-radius: 0px 0px 313px 313px;
   width: 444px;
   height: 233px;
   margin: -23px auto;
   
}
.Glyph {
   text-align: center;
   padding-top: 28%;
}
.Glyph_right {
   width: 358px;
   padding-left: 23px;

}
.Romb {
   padding-top: 63px;
}
.Romb_right {
   width: 278px;
   height: 320px;
   text-align: center;
   padding-left: 12%;
   padding-top: 8%;
}
.Plane {
   text-align: right;
   padding-top: 25%;
}
.Plane_right {
   width: 281px;
   height: 320px;
   padding-left: 12%;
   padding-top: 8%;
}
.Dia {
   text-align: center;
   padding-top: 30%;
}
.Dia_right {
   text-align: center;
   padding-top: 30%;
}
.dia_box {
   width: 512px;
   height: 512px;
   margin-right: 58px;
   background-color: black;
   display: inline-block;
}
.flag_first_block {
   position: absolute;
   width: 80px;
   height: 60px;
   margin-top: 344px;
   margin-left: 227px;
}
.flag_second_block {
   position: absolute;
   width: 80px;
   height: 60px;
   margin-top: 20px;
   margin-left: 20px;
}
.flag_third_block {
   position: absolute;
   width: 80px;
   height: 60px;
   margin-top: 20px;
   margin-left: 20px;
}
.flag_third_block2 {
   position: absolute;
   width: 80px;
   height: 60px;
   margin-top: 20px;
   margin-left: 409px;
}
.all_dia {
   position: absolute;
   margin-left: 1222px;
   margin-top: -580px;
   width: 1719px;
   height: 535px;
}
