html {
   font-size: 10px;

}

body {
   margin: 0;
   padding: 0;
   font-family: 'Rosario', sans-serif;
}

a {
   text-decoration: none;
}

/* ХЕДЕР */
header {
   width: 100%;
   display: flex;
   position: fixed;
   z-index: 1;
}

.logo img {
   width: 20rem;
}

.menu {
   width: 100%;
   background-color: #000000;
   border-radius: 13px 0px 0px 13px;
}

.menu_list {
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   font-size: 2.8rem;
   font-weight: 700;
   font-style: italic;
   list-style-type: none;
   padding: 0;
}

.menu_list a {
   color: white;
   transition: all 0.2s;
}

.menu_list a:hover {
   text-shadow: 0px -4px 9px white;
}

.menu_list a:active {
   color: rgb(133, 89, 31);
}

.menu_list li {
   padding-right: 2rem;
}

/* ПЕРВАЯ СЕКЦИЯ-ГАЛЕРЕЯ */
.section_1 {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   padding-top: 10rem;
}

.section_1 div {
   padding: 1rem;
}

.width_img {
   width: 28rem;
}

/* Анимации */
.block_one {
   animation: translate 2s;
}

.block_two {
   animation: translate 1s ease-out;

}

@keyframes translate {
   from {
      margin-left: -500%;
   }

   to {
      margin-left: 0%;
   }
}

.block_three {
   animation: translate_2 1s ease-out;
}

.block_four {
   animation: translate_2 2s;
}

@keyframes translate_2 {
   from {
      margin-left: 500%;
   }

   to {
      margin-left: 0%;
   }
}

/* ВТОРАЯ СЕКЦИЯ-СЕРВИС */
.section_2 {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   margin-top: 3rem;
}

.margin_first_colon {
   margin-left: 10rem;
   margin-right: 5rem;
   width: 20rem;
   height: 49rem;
   position: relative;
}

.second_colon {
   position: relative;
   margin-right: 5rem;
   height: 49rem;
}

/* Услуги */
.width_img2 {
   width: 21rem;
}

.service_foto {
   width: 60rem;
   margin-left: 12rem;
   border-radius: 5%;
}

.text_service {
   font-style: italic;
   font-weight: 700;
   font-size: 3rem;
   text-align: center;
}

/* Анимации */
.foto1 {
   animation: rdlu 5s infinite;
   position: relative;
}

@keyframes rdlu {
   0% {
      left: 0%;
   }

   25% {
      left: 125%;
      top: 0%;
   }

   50% {
      left: 125%;
      top: 50%;
   }

   75% {
      top: 50%;
      left: 0%;
   }

   100% {
      left: 0%;
      top: 0%;
   }
}

.foto2 {
   animation: urdl 5s infinite;
   position: relative;

}

@keyframes urdl {
   0% {
      bottom: 0%;
   }

   25% {
      bottom: 50%;
      left: 0%;
   }

   50% {
      left: 125%;
      bottom: 50%;
   }

   75% {
      bottom: 0%;
      left: 125%;
   }

   100% {
      left: 0%;
      bottom: 0%;
   }
}

.foto3 {
   animation: dlur 5s infinite;
   position: relative;
}

@keyframes dlur {
   0% {
      top: 0%;
   }

   25% {
      right: 0%;
      top: 50%;
   }

   50% {
      right: 125%;
      top: 50%;
   }

   75% {
      top: 0%;
      right: 125%;
   }

   100% {
      right: 0%;
      top: 0%;
   }
}

.foto4 {
   position: relative;
   animation: lurd 5s infinite;
}

@keyframes lurd {
   0% {
      right: 0%;
   }

   25% {
      right: 125%;
      bottom: 0%;
   }

   50% {
      right: 125%;
      bottom: 50%;
   }

   75% {
      bottom: 50%;
      right: 0%;
   }

   100% {
      right: 0%;
      bottom: 0%;
   }
}

/* ТРЕТЬЯ СЕКЦИЯ-МАСТЕРА */
.title_text_section_3 {
   font-size: 9.6rem;
   text-align: center;
   font-weight: 700;
   margin-top: 6rem;
}

/* Общая коробка с мастерами */
.masters {
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
}

/* Одиночная коробочка */
.master_box {
   background-image: url(./img/master1.png);
   display: flex;
   flex-direction: column;
   justify-content: end;
   background-repeat: no-repeat;
   background-size: contain;
   width: 29rem;
   height: 48.7rem;
   box-sizing: border-box;
   transition: all 1s;
   border-radius: 30px;
}

.master_box:hover .name_section_3 {
   visibility: visible;
}

.master_box:hover {
   box-shadow: 0px 0px 40px 30px black;
}

.master_box2 {
   background-image: url(./img/master2.png);
   display: flex;
   flex-direction: column;
   justify-content: end;
   background-repeat: no-repeat;
   background-size: contain;
   box-sizing: border-box;
   width: 28rem;
   height: 48.7rem;
   margin-right: 1.5rem;
   margin-left: 3rem;
   transition: all 1s;
   border-radius: 30px;
}

.master_box2:hover .name_section_3 {
   visibility: visible;
}

.master_box2:hover {
   box-shadow: 0px 0px 40px 30px black;
}

.master_box3 {
   background-image: url(./img/master3.png);
   display: flex;
   flex-direction: column;
   justify-content: end;
   background-repeat: no-repeat;
   background-size: contain;
   box-sizing: border-box;
   width: 28.8rem;
   height: 48.7rem;
   margin-right: 3rem;
   margin-left: 1.5rem;
   transition: all 1s;
   border-radius: 30px;
}

.master_box3:hover .name_section_3 {
   visibility: visible;
}

.master_box3:hover {
   box-shadow: 0px 0px 40px 30px black;
}

.master_box4 {
   background-image: url(./img/master4.png);
   display: flex;
   flex-direction: column;
   justify-content: end;
   background-repeat: no-repeat;
   background-size: contain;
   box-sizing: border-box;
   width: 28.4rem;
   height: 48.7rem;
   transition: all 1s;
   border-radius: 30px;
}

.master_box4:hover .name_section_3 {
   visibility: visible;
}

.master_box4:hover {
   box-shadow: 0px 0px 40px 30px black;
}

/* Имя мастера */
.name_section_3 {
   visibility: hidden;
   text-align: center;
   color: white;
   font-family: 'Volkhov', serif;
   font-weight: 400;
   font-size: 2.5rem;
   background-color: rgba(163, 83, 10, 0.7);
   padding-top: 5rem;
   padding-bottom: 5rem;
   border-radius: 0px 0px 30px 30px;
}

/* ЧЕТВЕРТАЯ СЕКЦИЯ - КАРТА И ФОРМА */
.section_4 {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

.form {
   margin-top: 15rem;
   width: min-content;
}

.form_text {
   font-size: 5rem;
   text-align: center;
   font-weight: 700;
   font-style: italic;
   width: 88%
}

form {
   width: 100%;
   background-color: #E5E5E5;

}

form input {
   margin-top: 3rem;
   margin-left: 3.8rem;
   margin-right: 3rem;
   padding-top: 2rem;
   font-size: 1.8rem;
   border: none;
   outline-style: none;
}

form textarea {
   margin-left: 3.8rem;
   margin-right: 4rem;
   margin-top: 1rem;
   resize: none;
   border: none;
   outline-style: none;
   margin-bottom: 2.6rem;
   font-size: 1.8rem;
}

.map {
   margin-left: 3rem;
   margin-top: 13rem;
   height: 20rem;
}

/* ФУТЕР */
footer {
   display: flex;
   justify-content: space-around;
   margin-top: 7rem;
}

.contacts {
   text-align: center;
   width: 25%;
   font-size: 1.8rem;
   margin-top: 3rem;
}
.contacts a {
   color: #000000;
}

.time_work {
   text-align: center;
   width: 25%;
   font-size: 1.8rem;
}

.social {
   text-align: center;
   width: 25%;
   font-size: 1.8rem;
}
.social ul {
   list-style-type: none;
   padding: 0;
}
.social a {
   color: #000000;
}
@media screen and (max-width: 1340px) {
   .section_2 {
      flex-direction: column-reverse;
   }
   .second_colon {
      margin-left: 44rem;
   }
   .margin_first_colon {
      margin-left: -14rem;
   }
   
}
@media screen and (max-width: 1219px) {
   .map {
      height: 24rem;
   }
}
@media screen and (max-width: 619px) {
   .section_1 {
      margin-left: 5%;
}
  .section_2 {
     margin-left: -18%;
     margin-top: 10%;
  }
}
@media screen and (max-width: 414px) {
   .section_1 {
      margin-left: 72%;
      
   }
  .section_2 {
     margin-left: -18%;
     margin-top: 10%;
  }
  .section_3 {
     margin-left: 68%;
  }
  .section_4 {
     margin-left: 33%;
  }
  footer {
     justify-content: space-between;
     margin-left: 33%;
  }
}


