html {
   font-family: 'Montserrat', sans-serif;
   font-size: 10px;
}
body {
   margin: 0;
   padding: 0;
}
/* ХЕДЕР */
.heder {
   align-items: center;
   margin-top: 1%;
}
/* Навигация выберите горол */
.nav_city {
   padding-right: 5%;
}
.nav_city input {
   font-size: 1.6rem;
   font-weight: 500;
}
/* Кнопки */
.button_header_1 button {
   padding-left: 3%;
   padding-right: 3%;
   font-size: 1.6rem;
   font-weight: 500;
   margin-right: 2%;
   border: none;
}
.btn-success {
   background-color: #EF781A;
}
.btn-primary {
   background-color: #00D008;
}
/* Лого */
.logo {
   text-align: end;
   padding-right: 5%;
}
.col
hr {
   margin-top: 1%;
}
/* АНДЕР ХЕДЕР */
.under_header {
   font-size: 3.6rem;
   font-weight: 800;
   padding-top: 2%;
   padding-bottom: 1%;
}
.under_header_text {
   margin-left: 13%;
}
/* ОСНОВНОЙ КОНТЕНТ */
.main {
   background-color: #ECECEC;
}
/* Навигация по меню */
.main .row_nav {
   width: 60%;
   margin-left: 12%;
   font-size: 1.8rem;
} 
.main a {
   color: #7B7B7B;
   font-weight: 500;
}
.main a:hover {
   color: #343434;
   background-color: #a3a1a1;
}
.main a:focus {
   color: #EF781A;
}
h2 {
   padding-bottom: 3%;
}
/* Карточки меню */
.card-title {
   font-size: 1.8rem;
   font-weight: 500;
}
.card-text {
   font-size: 1rem;
   font-weight: 500;
}
.price {
   font-size: 1.8rem;
   font-weight: 500;
}
.price svg {
   margin-left: 49%;
}
.Koshik {
   font-size: 1.2rem;
   display: none;
   padding-bottom: 0.5%;
}
.Koshik .btn {
   background-color: #EF781A;
   padding-left: 5%;
   padding-right: 5%;
   border: none;
}
.Koshik svg {
   margin-left: 53.5%;
   margin-top: 3%;
}

.card:hover .price {
   display: none;
}
.card:hover .Koshik {
   display: block;
}
.Koshik:hover svg {
   fill: #69A042;
}
/* ФУТЕР */
ul {
   background-color: white;
   width: 96%;
   font-size: 1.6rem;
   border-radius: 5px;
   list-style-type: none;
   
}
ul li:nth-child(odd) {
   color: #999999;
   font-size: 1.4rem;
}
.up a:hover {
   background-color: #ECECEC;

}













/* МЕДИА ЗАПРОСЫ */
@media screen and (max-width:576px) {
   .logo {
      text-align: center;
   }
   .nav_city {
      margin-top: 2%;
      margin-left: 2%;
      text-align: center;
   }
   .button_header_1 {
      text-align: center;
      margin-top: 2%;
   }
   .under_header_text {
      text-align: center;
      margin-left: 0%;
   }
   .main .row_nav {
      width: 100%;
      margin-left: 0%;
      font-size: 1.8rem;
   }
}
@media screen and ( min-width: 577px) and (max-width:1000px) {
#sale .col-sm-4 {
   width: 50%;
}
#burger .col-sm-4 {
   width: 50%;
}
#chiken .col-sm-4 {
   width: 50%;
}
.main .row_nav {
   width: 80%;
}
}