body {
   margin: 0;
   padding: 0%;
   background-color: #E5E5E5;
   font-family: 'Public Sans', sans-serif;
   font-size: 10px;
}
label {
   font-size: 1rem;
   display: block;
}
select {
   width: 100%;
   padding: 6px 3px;
   font-size: 1.1rem;
}
input {
   width: 100%;
   padding: 6px 3px;
   font-size: 1.1rem;
}
.red_color {
   color: red;
}
/* Форма */
form {
   min-width: 700px;
   max-width: 1000px;
   background-color: #F9F9F9;
   margin: auto;
}
/* Заголовок */
h1 {
   padding-top: 7%;
   padding-left: 3.5%;
}
.hint {
   margin-top: 8%;
   padding-left: 3.5%;
}
h2 {
   margin-top: 3%;
   padding-left: 3.5%;
}
/* Блок с левой и правой строкой */
.block {
   display: flex;
   justify-content: space-evenly;
   margin-top: 2%;
}
/* Левая строка */
.left_stroke {
   width: 45%;
}
/* Правая строка */
.right_stroke {
   width: 45%;
}
/* Input только с просмотром календарь */
.init_date {
   background-color: #EFEFEF;
   background-image: url(./img/date.svg);
   background-repeat: no-repeat;
   background-position: right;
}
/* Input Только с просмотром стрелка в низ */
.row {
   background-image: url(./img/row.svg);
   background-repeat: no-repeat;
   background-position: right;
}
/* Input только просмотр лупа */
.loop {
   background-image: url(./img/loop.svg);
   background-repeat: no-repeat;
   background-position: right;
}
/* Input спрятан */
.none_display {
   visibility: hidden;
}
/* Календарь без картинки */
.non_img {
   background-color: white;
   background-image: none;
}
.checkbox {
   display: flex;
   flex-direction: row-reverse;
   align-items: center;
   justify-content: flex-end;
}
/* Размер чекбокса */
.checkbox input {
   width: 5%;
   cursor: pointer;
   transform: scale(1.4);
}
/* Линия */
hr {
   width: 93%;
   margin: 2% auto;
   border: 1px solid #D1D1D1;
}
/* КНОПКА */
.button_box {
   margin-left: 90%;
   margin-top: 3%;
   padding-bottom: 6%;
}
.button {
   width: 67%;
   cursor: pointer;
   background-color: #0050D8;
   color: white;
   border: none;
   border-radius: 4px;
}

