body {
   margin: 0;
}
a {
   text-decoration: none;
}
/* ХЕДЕР */
.header {
   width: 100%;
   height: 125px;
   text-align: center;
   padding-top: 25px;
   box-sizing: border-box;
}
.text_header {
   font-size: 48px;
   font-family: 'M PLUS 1', sans-serif;
   color: #3E45E8;
   
}
.word_ukraine {
   color: #FBE201;
}
/* БАНЕР */
.baner {
   width: 100%;
   height: 803px;
   background-image: url(Img/Castle.png);
   background-repeat: no-repeat;
   background-size: contain;
   font-size: 48px;
   font-family: 'Inika', serif;
   color: white;
   box-sizing: border-box;
   
}
.baner_text {
   padding-top: 182px;
   margin-left: 118px;
   width: 1036px;
   line-height: 85px;
     
}
.blue {
   position: absolute;
   margin-top: 256px;
   margin-left: 80px;
   width: 22px;
   height: 147px;
   background-color: #1666af;
}
.yelow {
   position: absolute;
   margin-top: 403px;
   margin-left: 80px;
   width: 22px;
   height: 142px;
   background-color: #a79604;
}
/* ЗОНА С ДОП.ИНФО */
.h1_text {
   font-size: 40px;
   font-family: 'Inika', serif;
   margin-top: 63px;
   margin-left: 80px;
   font-weight: 700;
}
.blueline {
   margin-top: 25px;
   margin-left: 80px;
}
/* Коробочки с интереными местами */
.box {
   width: 391px;
   height: 481px;
   margin-top: 33px;
   margin-left: 50px;
   border-radius: 30px;
   box-shadow: 0px 0px 49px -16px;
   transition: 1.5s;
   display: inline-block;
   vertical-align: middle;
}
.box:hover {
   transform: scale(1.05);
}
.box_main_text {
   font-size: 24px;
   font-weight: 700;
   font-family: 'Inika', serif;
   color: #1E8DF2;
   margin-top: 16px;
   margin-left: 9px;
}
.box_additional_text {
   font-size: 20px;
   font-weight: 400;
   font-family: 'Inika', serif;
   color: #E8C23E;
   margin-top: 23px;
   margin-left: 9px;
   width: 220px;

}
/* ЗОНА С КАРТОЙ И КНОПКОЙ ПОДДЕРЖКИ */
.h1_text2 {
   font-size: 40px;
   font-family: 'Inika', serif;
   margin-top: 74px;
   margin-left: 430px;
   font-weight: 700;
}
.blueline2 {
   margin-top: 21px;
   margin-left: 513px;
}
.map_Ukraine {
   margin-top: 41px;
   margin-left: 294px;
}
.button {
   width: 591px;
   height: 121px;
   margin-top: 41px;
   margin-left: 418px;
   background-color: #2A61F0;
   font-size: 64px;
   font-family: 'Inika', serif;
   font-weight: 700;
   text-align: center;
   color: white;
   padding-top: 15px;
   box-sizing: border-box;
}
/* ФУТЕР */
.footer {
   width: 100%;
   height: 320px;
   margin-top: 22px;
   background-color: #2F4A4B;
   text-align: center;
   box-sizing: border-box;
      
}
.link {
   color: #A89D9D;
   font-size: 36px;
   font-family: 'Marcellus SC', serif;;
   
}
.mail {
   margin-top: 21px;
}
.telefone {
   margin-top: 21px;
}
.social_media {
   margin-top: 21px;
}
