body {
   margin: 0;
   padding: 0;
   background-color: #212529;
   font-size: 10px;
}
/* Кнопка "HIRE */
.hire_button {
   padding: 15px;
   text-align: center;
   width: 106px;
   font-size: 1.4rem ;
   font-weight: 700;
   color: #212529;
   background-color: #FFB742;
   border-radius: 55px;
}
.hire_button:hover {
   box-shadow: 0px 0px 2px 2px #FFB742;
}
/* Ссылки */
a {
   text-decoration: none;
}
/* ХЕДЕР */
.header {
   box-sizing: border-box;
   display: flex;
   align-items: center;
   justify-content:space-between;
   padding-top: 2vh;
   margin-left: 2vw;
}
.header_menu {
   display: flex;
}
.header_logo {
   margin-left: 1vw;
}
.menu_item {
   font-size: 1.4rem;
   font-style: 'Poppins', sans-serif;
   font-weight: 600;
   list-style-type: none;
   text-transform: capitalize;
   padding-right: 2vw;
}
.menu_item a {
   text-decoration: none;
   color: white;
   transition: all 1s;

}
.menu_item a:hover {
   color: #FFB742;
   font-size: 1.8rem;
}

.header_button {
   margin-right: 1vw;
}
/* ПЕРВАЯ СЕКЦИЯ С ПРОФЕСИЕЙ */
.profesion_box {
   width: 80vw;
   margin-left: 10vw;
   text-align: center;
   box-sizing: border-box;
   margin-top: 108px;
}
.profesion_box_title {
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   color: white;
   text-transform: capitalize;
   font-size: 2.5rem;
}
.name {
   text-decoration: underline;
   color: #FFB742;
}
.profesion_box_undertitle {
   text-transform: capitalize;
   font-family: 'Inter', sans-serif;
   font-weight: 700;
   font-size: 3.4rem;
   color: white;
}
.profesional_box_text {
   font-family: 'Inter', sans-serif;
   font-weight: 400;
   font-size: 1.4rem;
   color: white;
   padding-top: 25px;
}
.profesional_box_img {
   padding-top: 25px;
}
.smile_face_img {
   width: 18%;
   transition: all 1s;
}
.smile_face_img:hover {
   box-shadow: 0px 0px 30px 30px #FFB742;
   background-color: #FFB742;
}
/* ВТОРАЯ СЕКЦИЯ С ДОСТИЖЕНИЯМИ */
.achievements {
   display: flex;
   justify-content: space-between;
   width: 96%;
   margin-left: 2vw;
}
.achievements_box {
   width: 416px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #292B2E;
   border-radius: 10px;
   padding-top: 20px;
   padding-bottom: 20px;
   transition: all 1s;
}
.achievements_logo {
   margin-left: 2vw;
}
.achievements_text {
   font-family: 'Inter', sans-serif;
   font-size: 1rem;
   font-weight: 700;
   color: white;
   text-align: center;
}
.achievement_number {
   color: #FFB742;
   font-size: 1.6rem;
}
.arrow {
   margin-right: 3vw;
   color: white;
   font-size: 1rem;
   font-weight: 700;
}
/* HOVER */

.achievements_box:hover {
   background-color: #FFB742;
   box-shadow: 0px 0px 10px 4px #FFB742;
}
.achievements_box:hover span {
   color: black;
}
.achievements_box:hover .arrow {
   color: black;
}
/* ТРЕТЬЯ СЕКЦИЯ ABOUT ME */
.about_me {
   display: flex;
   margin-top: 11%;
   align-items: center;
}
.about_me_who {
   font-size: 1.5rem;
   font-weight: 600;
   font-family: 'Poppins', sans-serif;
   color: #FFB742;
   background-color: #292B2E;
   width: max-content;
   padding: 0.5% 3% 0.5% 3%;
   border-radius: 50px;
   text-transform: uppercase;
}
.about_me_title {
   font-size: 3.8rem;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   color: white;
   margin-bottom: 2%;
}
.about_me_text {
   width: 89%;
   font-size: 1rem;
   font-family: 'Poppins', sans-serif;
   font-weight: 400;
   color: #D4D4D4;
   margin-bottom: 2%;

}
/* ЧЕТВЕРТАЯ СЕКЦИЯ MY WORKS */
.work {
   margin-top: 6%;
}
/* текст и меню */
.work_header {
   display: flex;
   flex-direction: column;
   align-items: center;

}
.work_my_work {
   font-size: 1.5rem;
   font-weight: 600;
   font-family: 'Poppins', sans-serif;
   color: #FFB742;
   background-color: #292B2E;
   width: max-content;
   padding: 0.5% 3% 0.5% 3%;
   border-radius: 50px;
   text-transform: uppercase;
}
.work_title {
   font-size: 3.8rem;
   font-family: 'Roboto', sans-serif;
   font-weight: 700;
   color: white;
   margin-bottom: 2%;
}
.work_menu {
   width: 100%;
}
.work_menu li {
   list-style-type: none;
   font-size: 1.6rem;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   text-transform: capitalize;
   text-align: center;
   margin-right: 5%;
}
.work_menu a {
   color: white;
   border-radius: 3px;
   transition: all 1s;
}
.work_menu ul {
   display: flex;
   justify-content: center;
}
.work_menu a:hover {
   background-color: #FFB742;
   color: #212529;
   box-shadow: 0px 0px 10px 10px #FFB742 ;
}
/* фото работ */
.photo_of_works {
   margin-top: 4%;
}
.photo_of_works_block {
   display: flex;
   justify-content: space-evenly;
   margin-left: 3%;
   margin-right: 3%;
   margin-bottom: 1.5%;
}
.photo_of_works_box {
   transition: all 1s;
   cursor: pointer;
}
.photo_of_works_box:hover {
   transform: scale(1.05);
} 
/* ФУТЕР */
footer {
   background-color: #1C1C1C;
   box-sizing: border-box;
   margin-top: 10%;
   display: flex;
   justify-content: space-evenly;
}
/* характеристики коробки */
.footer_box {
   width: 21%;
   margin-left: 1%;
   padding-top: 5%;
   margin-right: 3%;
   padding-bottom: 5%;
   text-transform: capitalize;
}
.footer_box_name {
   text-transform: capitalize;
   color: #FFB742;
   font-family: 'Poppins', sans-serif;
   font-weight: 700;
   font-size: 2.4rem;
}
.footer_box_text {
   color: #D4D4D4;
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   font-size: 1.2rem;
   margin-top: 10%;
}
/* характеристики списков */
.list_title {
   margin-top: 6%;
   font-size: 1.5rem;
   color: #F5FBF2;
   font-family: 'Inter', sans-serif;
   font-weight: 700;
}
.links {
   font-size: 1.1rem;
   color: #7B7B7B;
   font-family: 'Inter', sans-serif;
   list-style-type: none;
   padding-left: 0;
}
.links li {
   margin-top: 2%;
}
.links a {
   color: #7B7B7B;
}
.links a:hover {
   color: #FFB742;
}
.footer_input {
   background-color: #1C1C1C;
   outline: none;
   border: none;
   color: #7B7B7B;
   width: 100%;
   height: 20%;
   font-size: 1.2rem;
   font-family: 'Inter', sans-serif;
}



