html {
   font-family: 'Work Sans', sans-serif;
   font-size: 10px;
}
body {
   margin: 0;
   padding: 0;
   background-color: #E5E5E5;
}
section {
   background-color: #FFB084;
   width: 70%;
   border-radius: 20px;
   margin-left: 17%;
   margin-top: 5%;
   display: grid;
   grid-template-columns: repeat(7, 1fr);
   /* grid-template-rows: repeat(10,50px); */
   gap: 17px;
   padding: 20px;
}
/* КАРТОЧКА С ФОТО И ХАРАКТЕРИСТИКОЙ */
.title {
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 1;
   grid-row-end: 6;
   background-color: white;
   text-align: center;
   padding: 15px 25px 15px 25px;
   border-radius: 20px;
   box-shadow: 7px 7px 0px 0px black;

}
.name {
   font-size: 2.4rem;
   font-weight: 700;
}
.foto {
   margin-top: 1rem;
}
.haracteristic ul {
   list-style-type: none;
   padding: 0;
   text-align: start;
   margin-left: 25px;
   font-size: 1.2rem;
}
.haracteristic ul li {
   margin-bottom: 1.2rem;
}
/* БИОГРАФИЯ */
.bio {
   grid-column-start: 4;
   grid-column-end: 8;
   grid-row-start: 1;
   grid-row-end: 3;
   background-color: white;
   border-radius: 20px;
   font-size: 1.4rem;
   box-shadow: 7px 7px 0px 0px black;
   padding: 15px 25px 15px 25px;
}
/* ЦЕЛИ */
.goals {
   grid-column-start: 4;
   grid-column-end: 6;
   grid-row-start: 3;
   grid-row-end: 5;
   background-color: white;
   /* padding-top: 15px; */
   border-radius: 20px;
   font-size: 1.4rem;
   /* padding: 13px; */
   box-shadow: 7px 7px 0px 0px #29A71E;
   text-align: start;
   padding: 15px 25px 15px 25px;
}
.goals ul {
   padding-left: 20px;
}
.goals span {
   color: #29A71E;
   font-weight: 700;
}
/* РАЗОЧЕРОВАНИЕ */
.frustration {
   grid-column-start: 8;
   grid-column-end: 6;
   grid-row-start: 3;
   grid-row-end: 6;
   background-color: white;
   border-radius: 20px;
   font-size: 1.4rem;
   box-shadow: 7px 7px 0px 0px #E13535;
   text-align: start;
   padding: 15px 25px 15px 25px;
}
.frustration span {
   color: #E13535;
   font-weight: 700;
}
.frustration ul {
   padding-left: 20px;
   font-size: 1.4rem;
}
/* ДЕВИЗ */
.motto {
   grid-column-start: 1;
   grid-column-end: 4;
   grid-row-start: 6;
   grid-row-end: 6;
   background-color: white;
   border-radius: 20px;
   font-size: 1.4rem;
   box-shadow: 7px 7px 0px 0px black;
   padding: 15px 25px 15px 25px;
   box-sizing: border-box;
   text-align: center;
}
/* РАБОТА МЕЧТЫ */
.dream_companies {
   grid-column-start: 4;
   grid-column-end: 6;
   grid-row-start: 5;
   grid-row-end: 7;
   background-color: white;
   border-radius: 20px;
   font-size: 1.4rem;
   box-shadow: 7px 7px 0px 0px #3675B0;
   text-align: start;
   padding: 15px 25px 15px 25px;
   box-sizing: border-box;
}
.dream_companies ul {
   padding-left: 20px;
   font-size: 1.3rem;
}
.dream_companies span {
   color: #3675B0;
   font-weight: 700;
}
/* ЛИЧНЫЕ КАЧЕСТВА */
.personality {
   grid-column-start: 6;
   grid-column-end: 8;
   grid-row-start: 6;
   grid-row-end: 7;
   background-color: white;
   border-radius: 20px;
   font-size: 1.4rem;
   box-shadow: 7px 7px 0px 0px black;
   text-align: start;
   padding: 15px 25px 15px 25px;
   box-sizing: border-box;
}
.personality ul {
   padding-left: 20px;
   font-size: 1.4rem;
   list-style-type: none;
   padding: 0;
}